@import "./../components/posts", "./../blog-page/blog-page.scss";

section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.input-holder {
  font-family: "Raleway", sans-serif;
  width: 100%;
  max-width: 800px;
  background: #fff;
  padding: 30px 50px;

  min-height: 70vh;

  input {
    border: none;
    background: transparent;
    padding: 10px;
    width: 100%;
    word-wrap: break-word;
    font-weight: bolder;

    font-family: "Raleway", sans-serif;

    &:focus {
      border: none;
      outline: none;
    }
  }

  #tag-input {
    margin-top: 20px;
    border-bottom: 2px solid #efefef;
    font-size: medium;
  }
}

#post-title {
  font-size: xx-large;
}

.tags {
  margin-bottom: 40px;
}

.edit {
  border: none;

  &:hover {
    background: #efefef;
  }
}

#mark-content {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: large;
  border: none;
  outline: none;
  resize: none;
  margin-top: 20px;
  width: 100%;
  min-height: 50vh;

  scrollbar-width: none;
}

.hide {
  display: none;
}

$content-base-font-size: 30px;

#content {
  width: 100%;
  max-width: 800px;
  background: #fff;
  overflow: hidden;
  padding: 30px 60px;
}

button {
  @include mobile {
    padding: 10px 12px;
  }
}

#post-title-display {
  font-size: xx-large;
}
#content {
  padding: 10px;
}
