@import "./../components/fonts";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  font-size: xx-large;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  text-align: center;

  button {
    outline: none;
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 14px 30px;
    margin-top: 40px;
    background: transparent;
    color: #fff;
    font-size: medium;
    font-family: inherit;
    &:active {
      transform: scale(0.9);
    }
  }
}
