@import "./../components/fonts", "./../components/navbar", "./../components/posts", "./../components/post-feed";

.info {
  width: 30%;
  max-width: 350px;
  height: auto;
  padding: 20px;
  padding-top: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;

  @include mobile {
    display: none;
  }

  .card {
    background: #fff;
    padding: 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.23);
    border-radius: 6px;
    margin-bottom: 20px;

    h2 {
      font-family: "Raleway", sans-serif;
      margin-bottom: 20px;
    }
  }

  position: sticky;
  top: 100px;
}

.social-holder {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;

  h2 {
    margin: 10px 0;
  }

  i {
    font-size: xx-large;
  }

  .social {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
      color: #262626;
      font-size: large;
    }
  }
}