@import "./../components/fonts", "./../components/navbar",
  "./../components/posts", "./../components/content",
  "./../components/image-upload-widget", "./../components/comments";

section {
  justify-content: center;
}

.tags {
  margin-bottom: 20px;
}

.post-holder {
  width: 100%;
  max-width: 900px;
  background: #fff;
  border: 1px solid rgba(38, 38, 38, 0.2);
  border-radius: 4px;

  @include mobile {
    border-radius: 0;
    border: none;
  }

  .post-image-holder {
    width: 100%;
    max-height: 300px;
    border-radius: 6px 6px 0 0;
    overflow: hidden;

    @include mobile {
      border-radius: 0;
    }
  }

  .cover-image {
    width: 100%;
  }

  .content-holder {
    padding: 30px 50px;
  }

  .author {
    text-decoration: none;
    font-weight: bold;
    color: darkgray;

    &:hover {
      text-decoration: underline;
    }
  }
}

#post-title {
  font-family: "Raleway", sans-serif;
  font-size: xx-large;
  font-weight: bolder;
  margin-bottom: 10px;
}

#post-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 20px;

  i {
    font-size: x-large;
    margin-right: 10px;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }

  #like-btn {
    cursor: pointer;

    &:active {
      transform: scale(0.9);
    }
  }
}

#bookmark-post,
#like-btn {
  cursor: pointer;
  padding: 10px 14px;
  border-radius: 4px;

  &:hover {
    background: #efefef;
  }

  &:active {
    transform: scale(0.9);
  }
}

#post-info {
  flex-wrap: wrap;

  @include mobile {
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 4px;
  }
}

.select-btn {
  i {
    color: tomato;
  }
}
.post-edit-actions {
  button {
    margin: 0 10px 10px 0;
    cursor: pointer;
    padding: 10px 22px;
    i {
      margin-right: 10px;
    }
    &:active {
      transform: scale(0.9);
    }
  }
}

.post-image-holder {
  min-height: 200px;
  background: #efefef;
}

.shadow .post-edit-actions {
  button {
    background: #efefef;
    color: #efefef;
    border: none;
  }
}
