@import "./comment-modal";
* {
  margin: 0;
  padding: 0;
}
hr {
  margin-bottom: 20px;
}

.comment-section {
  padding: 30px;
  h2 {
    margin-bottom: 30px;
  }
  .comment-holder:last-child {
    border-left-color: transparent;
  }
}

$border-size: 2px;
.comment-holder {
  padding-left: 28px;
  border: $border-size solid transparent;
  border-left-color: #262626;
  margin-top: 0;
  transition-duration: 250ms;

  &::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 50px;
    border: $border-size solid transparent;
    border-left-color: #262626;
    border-bottom-color: #262626;
    border-radius: 0 0 0 10px;
    transform: translate(-30px, -14px);
    cursor: pointer;
  }

  .show-more-comments {
    width: 20px;
    height: 20px;
    position: absolute;
    font-family: "Raleway", sans-serif;

    cursor: pointer;
    transform: translate(-115%, 300%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: #fff;
    border: 2px solid #262626;
    padding: 8px;
    margin: 0;

    // &:active {
    //   transform: translate(-120%, 100%) scale(0.9);
    // }
  }
  .show-hide-btn {
    width: 20px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: absolute;
    padding: 0;
    margin: 0;
    border-radius: 50%;

    i {
      display: inline-block;
      font-size: medium;
    }
  }
}

.comment {
  padding: 20px;
  border: 2px solid #efefef;
  background: #fff;
  margin-bottom: 10px;
}

.root-comment {
  padding-left: 20px;
  &::before {
    display: none;
  }
}

.comment-section .hide {
  visibility: hidden;
  z-index: -100;
}

$comment-profile-image-size: 50px;
.comment {
  display: flex;
  flex-direction: column;

  .comment-profile {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    a {
      width: 70%;
      cursor: pointer;
      text-decoration: none;
      color: inherit;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  button {
    display: flex;
    flex-direction: row;
    gap: 2px;
    border: none;
    cursor: pointer;
    padding: 14px 25px;
    i {
      margin-right: 10px;
    }
    &:hover {
      background: #efefef;
    }
    &:active {
      transform: scale(0.9);
    }
    @include mobile {
      padding: 4px 10px;
    }
  }
}

.comment-profile-image {
  width: $comment-profile-image-size;
  height: $comment-profile-image-size;
  border-radius: 50%;
  background: #efefef;
  padding: 10px;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.comment-text {
  margin: 10px;
  padding: 10px;
  font-size: medium;
}

.comment-button-holder {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}
