.comment-modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background: #fff;
  height: 70vh;
  width: 90vw;
  max-width: 850px;

  padding: 40px 30px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  z-index: 10;

  box-shadow: $box-shadow-val;
  border-radius: 6px;

  @include mobile {
    height: 76vh;
    padding: 20px 15px;
  }

  .button-holder {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    @include mobile {
      gap: 10px;
    }
    button {
      &:hover {
        background: #efefef;
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
}
#close-comment-modal {
  background: tomato;
  color: #fff;
}
#comment-reply-to {
  width: 100%;
  text-align: left;
  text-decoration: none;
  color: gray;
  cursor: pointer;
  margin-bottom: 10px;
}
#comment-input {
  width: 100%;
  min-height: 80%;
  border: 2px solid #efefef;
  overflow: scroll;
  overflow-x: hidden;
  outline: none;
  padding: 10px;
  @include mobile {
    min-height: 70%;
  }
}
#comment-preview-output {
  width: 100%;
  min-height: 80%;
  border: 2px solid #efefef;
  overflow: scroll;
  overflow-x: hidden;
  outline: none;
  padding: 10px;

  @include mobile {
    min-height: 70%;
  }
}

.blur {
  filter: blur(4px);
}

.hide-modal {
  display: none;
}
