#content,
#comment-preview-ouput {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  font-family: "Roboto", sans-serif;

  font-size: large;
  line-height: 1.8rem;
  margin-top: 20px;
  overflow: hidden;

  p {
    margin: 20px 0;
    width: 100%;
    word-wrap: break-word;
    font-family: "Roboto", sans-serif;
  }

  img {
    max-width: 100%;
  }

  iframe {
    max-width: 100%;
  }

  * {
    margin-bottom: 4px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 16px 0;
  }

  ol,
  ul {
    padding-left: 20px;
    margin: 10px 0;
  }

  code {
    display: inline-block;
    width: 100%;
    background: #efefef;
    padding: 10px;
    border-radius: 4px;
    overflow-x: hidden;
  }
}
