@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&family=Roboto&display=swap');

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto',
sans-serif;
*/

@font-face {
  font-family: "sheandy";
  src: url("./../../assets/fonts/Sheandy-dqo7.ttf") format("truetype");
}

@font-face {
  font-family: "kubos";
  src: url("./../../assets/fonts/KubosOrigami-YdXq.ttf") format("truetype");
}

@mixin mobile {
  @media (max-width: 700px) {
    @content;
  }
}

$box-shadow-val: 0 2px 4px rgba(0, 0, 0, 0.1),
0 1px 2px rgba(0, 0, 0, 0.23);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  padding-top: 100px;
  font-family: "Montserrat", sans-serif;
}