.image-upload-widget {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
  transition-duration: 300ms;
}

$floating-icon-size: 50px;

.floating-icon {
  width: $floating-icon-size;
  height: $floating-icon-size;
  border-radius: 50%;
  background: #262626;
  box-shadow: $box-shadow-val;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  padding: 32px;
  cursor: pointer;

  &:active {
    transform: scale(0.9);
  }

  i {
    font-size: 1.8rem;
    color: #fff;
  }

  #open-widget-icon {
    transform: translateY(-3px);
  }
}

.image-upload-widget .content-holder {
  background: #fff;
  padding: 30px 20px;
  box-shadow: $box-shadow-val;
  overflow: hidden;
  border-radius: 6px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;

  h3 {
    margin-bottom: 30px;
    font-size: x-large;
  }

  input[type="file"]::file-selector-button {
    outline: none;
    background: #fff;
    padding: 8px 20px;
    border: none;
    border: 2px solid #262626;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;

    &:active {
      transform: scale(0.9);
    }
  }

  #image-link-output {
    background: #efefef;
    padding: 4px 6px;
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  button {
    color: #262626;
    padding: 8px 28px;
    font-size: medium;
  }
}

.image-upload-widget .hide {
  display: none;
}
