nav {
  position: fixed;
  top: 0;

  background: #fff;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 8px;
  box-shadow: $box-shadow-val;

  img {
    width: 20px;
  }

  @include mobile {
    justify-content: space-between;
  }

  z-index: 100;
}

.branding {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;

  font-family: "sheandy";
  font-size: xx-large;

  text-decoration: none;
  color: #262626;

  img {
    width: 46px;
    margin-right: 12px;

    @include mobile {
      margin-right: 0;
    }
  }

  .site-name {
    @include mobile {
      display: none;
    }
  }
}

.search-bar {
  width: 50%;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 10px 14px;
  border: 2px solid #eee;
  border-radius: 6px;

  &:hover {
    border-color: darkblue;
  }

  input {
    width: 100%;
    outline: none;
    border: none;
    font-size: medium;
    margin-right: 4px;
  }
  img {
    cursor: pointer;
    &:active {
      transform: scale(0.9);
    }
  }
}

button {
  outline: none;
  border: none;
  font-size: medium;
  background: none;
  padding: 8px 26px;
  border-radius: 4px;
  cursor: pointer;

  border: 2px solid #262626;

  &:active {
    transform: scale(0.9);
  }
}

.hide {
  display: none;
}

$profile-image-size: 40px;

.profile-holder {
  width: $profile-image-size;
  height: $profile-image-size;
  border-radius: 50%;
  cursor: pointer;
  background: #eee;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;

    &:active {
      transform: scale(0.9);
    }
  }
}

.profile-navs {
  position: absolute;
  top: 66px;
  right: 10px;

  width: 50%;
  max-width: 260px;
  background: #fff;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-shadow: $box-shadow-val;
  padding: 10px 30px;
  font-size: medium;

  overflow: hidden;
  transition-duration: 400ms;

  .detail {
    width: 100%;
    padding: 10px 14px;
    border-radius: 4px;

    &:hover {
      background: #efefef;
    }

    cursor: pointer;
  }

  #profile-email {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 6px;
    cursor: pointer;
  }

  hr {
    margin: 10px 0;
    width: 90%;
  }

  button {
    width: 100%;
    outline: none;
    border: none;
    padding: 10px 14px;
    text-align: left;

    &:hover {
      background: #efefef;
      text-decoration: underline;
    }
  }

  transform: translateX(400%);
}

.profile-nav-show {
  transform: translateX(0);
}

.button-holder {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#mobile-create {
  display: none;

  @include mobile {
    display: flex;
  }
}

#create {
  @include mobile {
    display: none;
  }
}
