section {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;

  .tag {
    margin: 10px 0;
    padding: 4px 8px;
    border-radius: 6px;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
      background: #efefef;
      border-color: #262626;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

$shadow-bg: #efefef;

.shadow {
  background: $shadow-bg;
  color: transparent;

  .post-title,
  #post-title {
    background: $shadow-bg;
    color: $shadow-bg;
  }

  img {
    visibility: hidden;
    background: $shadow-bg;
  }

  .tag {
    background: $shadow-bg;
    margin-right: 4px;
  }

  .post-info {
    div {
      background: $shadow-bg;
    }
  }

  .author {
    visibility: hidden;
  }
}

.post-info {
  i {
    margin-right: 6px;
  }
}