.featured-posts {
  width: 70%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;

  @include mobile {
    width: 100%;
    margin: 0;
  }
}

.post {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.23);
  border-radius: 6px;
  margin-bottom: 16px;

  @include mobile {
    border-radius: 0;
  }

  .post-image-holder {
    width: 100%;
    min-height: 200px;
    background: #efefef;
    max-height: 300px;
    overflow: hidden;
    border-radius: 4px;

    @include mobile {
      border-radius: 0;
    }
  }

  img {
    width: 100%;
  }
}

.post-details {
  width: 100%;
  background: #fff;
  padding: 30px 56px;
  font-family: "Raleway", sans-serif;

  @include mobile {
    padding: 30px;
  }

  a {
    display: block;
    color: #262626;
    text-decoration: none;

    &:hover {
      color: #0077b5;
    }
  }

  .author {
    margin-top: 8px;
    font-weight: bold;
    color: darkgray;
  }

  .post-title {
    font-size: x-large;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
  }
}

.post-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 40px;
  margin-top: 20px;
}

.image-upload-url-text {
  background: #efefef;
  padding: 6px 12px;
  border-radius: 6px;
  margin: 10px 0;
}

.select-btn {
  i {
    color: tomato;
  }
}

.comment-content {
  margin: 20px 0;
}
