@import "./../components/fonts", "./../components/navbar",
  "./../components/posts", "./../components/post-feed";

section {
  @include mobile {
    width: 100%;
    flex-direction: column;
  }
}

.detail {
  width: 100%;
}

.info {
  width: 30%;
  max-width: 350px;
  height: auto;
  padding: 20px;
  padding-top: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;

  .card {
    width: 90%;
    background: #fff;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.23);
    border-radius: 6px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      border-radius: 50%;
      margin-bottom: 6px;
    }

    h2 {
      font-family: "Raleway", sans-serif;
      margin: 10px 0 20px 0;
    }

    #card-email {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 6px;
    }

    hr {
      margin: 10px 0;
      margin-top: 30px;
      width: 95%;
    }

    @include mobile {
      width: 90%;
      margin: 0;
    }
  }

  // position: sticky;
  // top: 100px;

  @include mobile {
    width: 100%;
    max-width: none;
    position: relative;
    top: 0;
  }
}

.post-navs {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  margin: 10px 0;

  button {
    width: 100%;
    outline: none;
    margin: 2px 0;
    border: none;
    cursor: pointer;
    text-align: left;
    padding: 14px 20px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    &:hover {
      background: #eee;
    }

    i {
      font-size: x-large;
      margin-right: 22px;
    }
  }
}
